@import '../../styles/colors.scss';

.btn + .btn {
  margin-left: 10px;
}

.btn {
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  color: white;
  outline-style: none !important;
}

.small {
  padding: 5px 8px;
}

.medium {
  padding: 8px 11px;
}

.large {
  padding: 11px 14px;
}

.contained {
  background-color: $default;

  &:hover {
    background-color: $defaultHover;
  }

  &:active {
    background-color: $defaultActive;
  }
}

.contained.primary {
  background-color: $primary;

  &:hover {
    background-color: $primaryHover;
  }

  &:active {
    background-color: $primaryActive;
  }
}

.contained.warning {
  background-color: $warning;

  &:hover {
    background-color: $warningHover;
  }

  &:active {
    background-color: $warningActive;
  }
}

.contained.danger {
  background-color: $danger;

  &:hover {
    background-color: $dangerHover;
  }

  &:active {
    background-color: $dangerActive;
  }
}

.contained.info {
  background-color: $info;

  &:hover {
    background-color: $infoHover;
  }

  &:active {
    background-color: $infoActive;
  }
}

.contained.success {
  background-color: $success;

  &:hover {
    background-color: $successHover;
  }

  &:active {
    background-color: $successActive;
  }
}

.contained.secondary {
  background-color: $secondary;

  &:hover {
    background-color: $secondaryHover;
  }

  &:active {
    background-color: $secondaryActive;
  }
}

.contained.white {
  background-color: $white;
  color: black;

  &:hover {
    background-color: $whiteHover;
  }

  &:active {
    background-color: $whiteActive;
  }
}

.outline {
  border-color: $default;
  color: $default;

  &:hover {
    border-color: $defaultHover;
    color: $defaultHover;
  }

  &:active {
    border-color: $defaultActive;
    color: $defaultActive;
  }
}

.outline.primary {
  border-color: $primary;
  color: $primary;

  &:hover {
    border-color: $primaryHover;
    color: $primaryHover;
  }

  &:active {
    border-color: $primaryActive;
    color: $primaryActive;
  }
}

.outline.secondary {
  border-color: $secondary;
  color: $secondary;

  &:hover {
    border-color: $secondaryHover;
    color: $secondaryHover;
  }

  &:active {
    border-color: $secondaryActive;
    color: $secondaryActive;
  }
}

.outline.danger {
  border-color: $danger;
  color: $danger;

  &:hover {
    border-color: $dangerHover;
    color: $dangerHover;
  }

  &:active {
    border-color: $dangerActive;
    color: $dangerActive;
  }
}

.outline.warning {
  border-color: $warning;
  color: $warning;

  &:hover {
    border-color: $warningHover;
    color: $warningHover;
  }

  &:active {
    border-color: $warningActive;
    color: $warningActive;
  }
}

.outline.success {
  border-color: $success;
  color: $success;

  &:hover {
    border-color: $successHover;
    color: $successHover;
  }

  &:active {
    border-color: $successActive;
    color: $successActive;
  }
}

.outline.info {
  border-color: $info;
  color: $info;

  &:hover {
    border-color: $infoHover;
    color: $infoHover;
  }

  &:active {
    border-color: $infoActive;
    color: $infoActive;
  }
}

.outline.white {
  border-color: $white;
  color: $white;

  &:hover {
    border-color: $whiteHover;
    color: $whiteHover;
  }

  &:active {
    border-color: $whiteActive;
    color: $whiteActive;
  }
}

.link {
  background-color: transparent;
  border: 0;
  color: $default;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $defaultActive;
  }
}

.link.primary {
  background-color: transparent;
  border: 0;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $primaryActive;
  }
}

.link.white {
  background-color: transparent;
  border: 0;
  color: $white;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $whiteActive;
  }
}

.link.danger {
  background-color: transparent;
  border: 0;
  color: $danger;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $dangerActive;
  }
}

.link.warning {
  background-color: transparent;
  border: 0;
  color: $warning;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $warningActive;
  }
}

.link.success {
  background-color: transparent;
  border: 0;
  color: $success;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $successActive;
  }
}

.link.secondary {
  background-color: transparent;
  border: 0;
  color: $secondary;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $secondaryActive;
  }
}

.link.info {
  background-color: transparent;
  border: 0;
  color: $info;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $infoActive;
  }
}

@media (prefers-color-scheme: light) {
  .btn {
    background-color: #f9f9f9;
  }
}
