$primary: #2978fd;
$primaryHover: #296aff;
$primaryActive: #1c4ab2;

$default: #1a1a1a;
$defaultHover: #404040;
$defaultActive: #0c0c0c;

$warning: #fba200;
$warningHover: #ffb500;
$warningActive: #cc9000;

$danger: #df5338;
$dangerHover: #ff6b40;
$dangerActive: #cc5533;

$info: #599afe;
$infoHover: #598fff;
$infoActive: #4772cc;

$success: #46af46;
$successHover: #55d555;
$successActive: #40a240;

$secondary: #6f6f77;
$secondaryHover: #92929d;
$secondaryActive: #62626a;

$white: #fff;
$whiteHover: #fff;
$whiteActive: #cccccc;
