.header-wrapper {
  .nav-item {
    position: relative;
    transition: 200ms;
    line-height: 56px;
    padding: 0px 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-transform: capitalize;

    &:hover {
      color: #7f00ce;

      &:before {
        content: '';
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, transparent, #7c01c82d);
        position: absolute;
        top: 0;
        left: 0;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #7c01c8;
        bottom: 0px;
        left: 0px;
      }
    }
  }

  .multi-language-container {
    &:hover {
      .language-menu-wrapper {
        display: block;
      }
    }
  }
}
